@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "Order Listed";
}
<h2>list order</h2>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order Code</th>
            <th scope="col">UserName</th>
            <th scope="col"> </th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Status</th>
            <th scope="col">Create Date</th>
            <th>Actions</th>
            


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>#</th>
                <th scope="row">@item.OrderCode</th>
                <td>@item.UserName</td>
                <td @item.CreatedDate></td>
                <td>@item.CreatedDate.ToString("dd-MM-yyyy")</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else if (item.Status == 2)
                    {
                        <span class="text text-success">Đã giao hàng</span>
                    }
                    else
                    {

                        <span class="text text-danger">Đã hủy</span>
                    }
                </td>
                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="ViewOrder" asp-controller="Order" asp-route-ordercode="@item.OrderCode">View Order</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Order" asp-route-ordercode="@item.OrderCode">Delete</a>

                </td>
            </tr>
        }

    </tbody>
</table>
@section Scripts {
    <script>
        let table = new DataTable('#myTable');
    </script>
}